asyncio
aiofiles
aioshutil
anytree
apscheduler
aioaria2
aioqbt
celery
cloudscraper
dnspython
python-dotenv
fastapi
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
graphene
gunicorn
httpx
jinja2
lxml
natsort
par2cmdline-turbo
pillow
prometheus-client
psutil
pymongo
kurigram
python-magic
redis
requests
speedtest-cli
telegraph
tenacity
tgcrypto
urllib3
uvicorn
uvloop
xattr
yt-dlp[default,curl-cffi]
