asyncio
aiofiles
aioshutil
anytree
apscheduler
aioaria2
aioqbt
celery
cloudscraper
dnspython
python-dotenv
fastapi
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
graphene
gunicorn
httpx
jinja2
PyJWT
passlib
bcrypt
lxml
natsort
par2cmdline-turbo
pillow
prometheus-client
opentelemetry-api==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-exporter-otlp==1.25.0
opentelemetry-instrumentation-fastapi==0.46b0
opentelemetry-instrumentation-asgi==0.60b1
psutil
pymongo
kurigram
python-magic
qrcode[pil]
redis
requests
speedtest-cli
telegraph
tenacity
tgcrypto
urllib3
uvicorn
uvloop
xattr
yt-dlp[default,curl-cffi]
